@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #060913;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Base custom selection and smooth scrolling */
html {
  scroll-behavior: smooth;
}

::selection {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
